@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"), url(fonts/NotoSans-Light.eot);
  src: url(fonts/NotoSans-Light.eot?#iefix) format("embedded-opentype"), url(fonts/NotoSans-Light.woff2) format("woff2"), url(fonts/NotoSans-Light.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(fonts/NotoSans-Regular.eot);
  src: url(fonts/NotoSans-Regular.eot?#iefix) format("embedded-opentype"), url(fonts/NotoSans-Regular.woff2) format("woff2"), url(fonts/NotoSans-Regular.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(fonts/NotoSans-Medium.eot);
  src: url(fonts/NotoSans-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/NotoSans-Medium.woff2) format("woff2"), url(fonts/NotoSans-Medium.woff) format("woff");
}
@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(fonts/NotoSans-Bold.eot);
  src: url(fonts/NotoSans-Bold.eot?#iefix) format("embedded-opentype"), url(fonts/NotoSans-Bold.woff2) format("woff2"), url(fonts/NotoSans-Bold.woff) format("woff");
}
html, body {
  background-color: #4f4e59;
  color: #ECCF81;
  width: 100%;
  margin: 0;
  line-height: 1.5;
  position: relative;
  font-size: 15px;
  scroll-behavior: smooth;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 100;
}

::-webkit-scrollbar {
  width: 10px;
  background: #000000;
  border-left: solid 1px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#ECCF81, #9e884b);
  border: solid 2px #000000;
  border-radius: 5px;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.is-unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
upported by Chrome, Edge, Opera and Firefox */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

hr {
  border: 1px solid #797979;
  margin: 1.425rem 0;
}

button,
input[type=submit],
input:not([type=checkbox], [type=radio]) {
  font-family: "Roboto", sans-serif;
  border: unset;
  height: 39px;
}

button,
input[type=submit] {
  cursor: pointer;
  width: 100%;
  max-width: 240px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  line-height: normal;
  text-decoration: none;
  text-align: center;
  color: #ECCF81;
  transition: filter 0.3s ease-in-out;
  filter: brightness(1) !important;
}
a:hover {
  filter: brightness(1.5) !important;
  color: #ECCF81;
  text-decoration: none;
}

img,
svg {
  vertical-align: middle;
}

img {
  width: 100%;
}

button:active {
  outline: unset !important;
  border: unset !important;
}
button:focus {
  outline: unset !important;
  border: unset !important;
}
button:focus-visible {
  outline: unset !important;
  border: unset !important;
}

.btn {
  height: 39px;
  padding: 4px 10px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:active {
  outline: unset !important;
  border: unset !important;
}
.btn:focus {
  outline: unset !important;
  border: unset !important;
}
.btn:focus-visible {
  outline: unset !important;
  border: unset !important;
}
.btn.btn-primary {
  background: linear-gradient(0deg, #a67c00 0%, #ffdc73 100%);
  border: unset;
  color: #000 !important;
}
.btn.btn-primary:active {
  background: linear-gradient(0deg, #a67c00 0%, #ffdc73 100%) !important;
  border: unset;
  color: #000 !important;
}
.btn.btn-primary:focus {
  box-shadow: unset !important;
}
.btn.btn-success {
  background: linear-gradient(0deg, #0e282b 0%, #004e46 100%);
  border: unset;
  color: #ad8b40 !important;
}
.btn.btn-success:active {
  background: linear-gradient(0deg, #0e282b 0%, #004e46 100%) !important;
  border: unset;
  color: #ad8b40 !important;
}
.btn.btn-success:focus {
  box-shadow: unset !important;
}
.btn.btn-danger {
  background: linear-gradient(0deg, #4c040b 0%, #bc2130 100%);
  border: unset;
  color: #a67c00;
}
.btn.btn-danger:active {
  background: linear-gradient(0deg, #4c040b 0%, #bc2130 100%) !important;
  border: unset;
  color: #a67c00;
}
.btn.btn-danger:focus {
  box-shadow: unset !important;
}
.btn.btn-secondary {
  background: linear-gradient(0deg, #1e1e1e 0%, #3e3e3e 100%);
  border: unset;
  color: #a67c00;
}
.btn.btn-secondary:active {
  background: linear-gradient(0deg, #1e1e1e 0%, #3e3e3e 100%) !important;
  border: unset;
  color: #a67c00;
}
.btn.btn-secondary:focus {
  box-shadow: unset !important;
  color: #a67c00;
}
.btn.btn-outline-primary {
  border: 1px solid #a67c00;
  color: #a67c00;
}
.btn.btn-outline-primary:hover {
  background: linear-gradient(0deg, #a67c00 0%, #ffdc73 100%);
  color: #000;
}
.btn.btn-outline-primary:active {
  background-color: unset !important;
  border: 1px solid #a67c00 !important;
  color: #a67c00 !important;
}
.btn.btn-outline-primary:focus {
  box-shadow: unset !important;
}

.form-control {
  background-color: #0f0c1e;
  border: 1px solid rgba(236, 207, 129, 0.1803921569) !important;
  color: #eccf81;
}
.form-control:focus {
  color: #ffdc73;
  background-color: #0a0a0a !important;
  box-shadow: 0 0 0 0.2rem rgba(209, 146, 50, 0.1490196078);
}

.form-group.form-icon {
  position: relative;
  background-color: #0a0a0a;
  display: flex;
  align-items: center;
  border: 1px solid rgba(236, 207, 129, 0.1803921569) !important;
}
.form-group.form-icon .form-control {
  border: unset !important;
  background-color: unset;
  width: calc(100% - 43px) !important;
}
.form-group.form-icon .form-control:focus {
  color: #ffdc73;
  background-color: #0a0a0a !important;
  box-shadow: unset;
}
.form-group.form-icon .icon {
  position: relative;
  height: 100%;
  width: 43px;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control[readonly] {
  background-color: #0d0b18;
  border: 1px solid rgba(236, 207, 129, 0.1803921569) !important;
  color: #6d5200;
}

::-moz-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4b4b4b !important;
  opacity: 1; /* Firefox */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4b4b4b !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet 
Explorer 10-11 */
  color: #a67c00 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #a67c00 !important;
}

.carousel-caption {
  z-index: 10000 !important;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

i {
  color: #c72f5f;
}

.webtoon-body {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 auto;
}
.webtoon-body .webtoon-body2 {
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #4f4e59;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.webtoon-body .webtoon-body2.width-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.webtoon-body .webtoon-body2 .webtoon-details {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #211c2d;
  height: 35px;
  border-radius: 3px;
}
.webtoon-body .webtoon-body2 .webtoon-details button {
  height: 25px;
  width: 60px;
  border-radius: 5px;
  color: #ffffff;
  border-color: #967d38;
  background-color: #50457f;
}
.webtoon-body .webtoon-body2 .webtoon-choices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -15px;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices {
  display: flex;
  gap: 5px;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices button {
  height: 30px;
  width: 60px;
  color: #ECCF81;
  background-color: #211c2d;
  border-radius: 5px;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 button {
  height: 30px;
  width: 60px;
  color: #ECCF81;
  background-color: #211c2d;
  border-radius: 5px;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:checked {
  position: absolute;
  left: -9999px;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:checked + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #ECCF81;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:checked + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #640101;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  transition: all 0.2s ease;
  opacity: 1;
  transform: scale(1);
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #ECCF81;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.webtoon-body .webtoon-body2 .webtoon-choices .bodychoices-2 input[type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #F87DA9;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  transition: all 0.2s ease;
  opacity: 0;
  transform: scale(0);
}
.webtoon-body .webtoon-body2 .sort-choices {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.webtoon-body .webtoon-body2 .sort-choices .sort-choices-item {
  width: 12.5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 5px;
}
.webtoon-body .webtoon-body2 .sort-choices .sort-choices-item button {
  width: 94%;
  height: 45px;
  background-color: #11101a;
  color: #967d38;
}
.webtoon-body .webtoon-body2 .sort-choices .a {
  background-color: #42385f;
  padding-top: 5px;
}
.webtoon-body .webtoon-body2 .sort-choices .a button {
  background-color: #7966ad;
  color: white;
}
.webtoon-body .webtoon-body2 .button-choices {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: -6px;
}
.webtoon-body .webtoon-body2 .button-choices .sort-choices-item {
  width: 12.5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 5px;
}
.webtoon-body .webtoon-body2 .button-choices .sort-choices-item button {
  width: 94%;
  height: 45px;
  background-color: #11101a;
  color: #967d38;
}
.webtoon-body .webtoon-body2 .button-choices button {
  width: 12%;
  height: 45px;
  background-color: #11101a;
  color: #967d38;
}
.webtoon-body .webtoon-body2 .button-choices .a {
  background-color: #42385f;
  padding-top: 5px;
}
.webtoon-body .webtoon-body2 .button-choices .a button {
  background-color: #7966ad;
  color: white;
}
.webtoon-body .webtoon-body2 .login {
  min-width: 30%;
  display: block;
  justify-content: center;
  background: #211c2d;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1098039216);
  border-radius: 5px;
}
.webtoon-body .webtoon-body2 .login .login-details {
  margin-bottom: 5px;
}
.webtoon-body .webtoon-body2 .login .login-details input {
  width: 100%;
  background-color: #11101a;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  color: #ffffff;
}
.webtoon-body .webtoon-body2 .login .login-details input:focus-visible {
  outline: none;
}
.webtoon-body .webtoon-body2 .login .login-button {
  display: flex;
  justify-content: space-between;
}
.webtoon-body .webtoon-body2 .login .login-button button {
  background-color: #50457f;
  border-radius: 20px;
  width: 49%;
  color: #ffffff;
}
.webtoon-body .webtoon-body2 .login .login-button button:hover {
  background-color: #280cd1;
  color: #ffffff;
}
.webtoon-body .webtoon-body2 .member-info {
  flex-wrap: wrap;
  background-color: #211c2d;
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  position: relative;
}
.webtoon-body .webtoon-body2 .member-info span {
  margin-bottom: 5px;
  width: 100%;
}
.webtoon-body .webtoon-body2 .bookmarks-section {
  width: 100%;
  height: 100%;
  background-color: #4f4e59;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}
.webtoon-body .webtoon-body2 .bookmarks-section.width-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}
.webtoon-body .webtoon-body2 .bookmarks {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.webtoon-body .webtoon-body2 .bookmarks .bookmarks-card {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.webtoon-body .webtoon-body2 .bookmarks .bookmarks-card span {
  width: 100%;
}
.webtoon-body .webtoon-body2 .bookmarks .bookmarks-card .bookmarks-left {
  width: 100%;
}
.webtoon-body .webtoon-body2 .bookmarks .bookmarks-card .bookmarks-left i {
  color: #000000;
}
.webtoon-body .webtoon-body2 .bookmarks .bookmarks-card .bookmarks-left button {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  background-color: #50457f;
  color: white;
  margin-bottom: 10px;
  text-align: end;
  float: right;
}
.webtoon-body .webtoon-body2 .bookmarks .bookmarks-card .bookmarks-title {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #211c2d;
  border-radius: 3px;
}
.webtoon-body .webtoon-body2 .bookmarks-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-direction: column;
}
.webtoon-body .webtoon-body2 .bookmarks-header .bookmarks-left {
  width: 50%;
}
.webtoon-body .webtoon-body2 .bookmarks-header .bookmarks-left i {
  color: #000000;
}
.webtoon-body .webtoon-body2 .bookmarks-header .bookmarks-right {
  display: block;
  width: 100%;
  position: relative;
}
.webtoon-body .webtoon-body2 .bookmarks-header .bookmarks-right .bookmarks-title {
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #211c2d;
  border-radius: 3px;
}
.webtoon-body .webtoon-body2 .bookmarks-header button {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 10px;
  background-color: #50457f;
  color: white;
  margin-bottom: 10px;
  text-align: end;
  float: right;
}
.webtoon-body .webtoon-body2 .bookmarks-header .bookmarks-title {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 3px;
  flex-wrap: wrap;
}
.webtoon-body .webtoon-body2 .bookmarks-header .bookmarks-title span {
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #211c2d;
  width: 100%;
  margin-bottom: 5px;
}

.signup {
  min-width: 30%;
  display: block;
  justify-content: center;
  background: #211c2d;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1098039216);
  border-radius: 5px;
}
.signup .signup-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.signup .signup-head span {
  font-size: large;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}
.signup .login-details {
  margin-bottom: 5px;
}
.signup .login-details input {
  width: 100%;
  background-color: #11101a;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
  color: white;
}
.signup .login-details input:focus-visible {
  border: 1px solid #000000 !important;
  outline: none;
}
.signup .signup-button {
  display: flex;
  justify-content: center;
  width: 100%;
}
.signup .signup-button button {
  background-color: #50457f;
  border-radius: 20px;
  max-width: 100%;
  color: #ffffff;
}
.signup .signup-button button:hover {
  background-color: #280cd1;
  color: #000000;
}

.modal-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9215686275);
  z-index: 2000;
}
.modal-wrapper .my-modal {
  margin: auto !important;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000;
}
.modal-wrapper .my-modal .modal-close {
  cursor: pointer;
}
.modal-wrapper .my-modal .modal-close i {
  color: #000000;
}
.modal-wrapper .my-modal .modal-close i:hover {
  color: #f80404;
}

.webtoon-ads {
  max-width: 210px;
}
.webtoon-ads .img-wrapper {
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 5px;
}
.webtoon-ads .img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
}

.webtoon-card {
  height: -moz-fit-content;
  height: fit-content;
  max-width: 155px;
  background-color: #211c2d;
  padding: 12px;
  border-radius: 5px;
}
.webtoon-card .img-wrapper {
  height: 131px;
  aspect-ratio: 1/1;
  overflow: hidden;
  margin-bottom: 9px;
  border-radius: 5px;
  position: relative;
}
.webtoon-card .img-wrapper img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.webtoon-card .img-wrapper .update {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background: #970000;
  text-align: center;
  color: white;
}
.webtoon-card .card-body2 {
  font-size: 15px;
  font-style: normal;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.webtoon-card .card-body2 h3 {
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  max-width: 100px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.webtoon-card .card-body2 .card-body3 {
  display: flex;
  justify-content: space-between;
}
.webtoon-card .card-body2 .card-body3 span {
  font-size: 11px;
  max-width: 75px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  color: rgba(255, 255, 255, 0.59);
}
.webtoon-card .card-body2 .card-body4 {
  display: flex;
  justify-content: space-between;
}
.webtoon-card .card-body2 .card-body4 span {
  font-size: 11px;
  width: 100%;
  color: rgba(255, 255, 255, 0.7);
}
.webtoon-card .card-body2 .card-body4 div {
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1;
}

.comic-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.comic-details .comic-picture {
  max-width: 50%;
  text-align: center;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.comic-details .comic-picture .webtoon-card {
  max-width: 650px;
}
.comic-details .comic-picture .webtoon-card .img-wrapper {
  max-height: 315px;
  min-height: 315px;
  aspect-ratio: 0;
  margin-bottom: 0px;
}
.comic-details .comic-details {
  width: 46%;
  display: flex;
  border-radius: 3px;
  flex-wrap: wrap;
  padding: 10px;
  padding-top: 0;
}
.comic-details .comic-details .comic-header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0901960784);
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
}
.comic-details .comic-details .comic-header .title {
  font-size: 20px;
  font-weight: bolder;
}
.comic-details .comic-details .comic-header .header-details {
  color: rgba(236, 207, 118, 0.568627451);
  display: flex;
  margin-top: 10px;
  gap: 30px;
}
.comic-details .comic-details .comic-header .header-details img {
  height: 20px;
  width: 20px;
}
.comic-details .comic-details .comic-header .header-details .writer {
  color: rgba(236, 207, 129, 0.86);
}
.comic-details .comic-details .comic-header .header-details .serial {
  color: rgba(236, 207, 129, 0.86);
}
.comic-details .comic-details .comic-body {
  margin-top: 0px;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0901960784);
  color: rgba(236, 207, 118, 0.568627451);
}
.comic-details .comic-details .comic-footer {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.comic-details .comic-details .comic-footer .comic-footer2 {
  width: 100%;
  display: flex;
}
.comic-details .comic-details .comic-footer .genre-details {
  min-width: 50%;
  max-width: 50%;
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 10px;
}
.comic-details .comic-details .comic-footer .genre-details .title {
  font-size: 15px;
  font-weight: 400;
}
.comic-details .comic-details .comic-footer .genre-details .genre {
  padding: 5px;
  background-color: #3f2797;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.9098039216);
  font-size: 12px;
}
.comic-details .comic-details .comic-footer .genre-rating {
  text-align: right;
  min-width: 50%;
  max-width: 50%;
}
.comic-details .comic-details .comic-footer .genre-rating i {
  color: #aa841c;
}
.comic-details .comic-details .comic-footer button {
  min-width: 49%;
  padding: 5px;
  background-color: #211c2d;
  border-radius: 5px;
  margin-bottom: 10px;
  color: white;
}

.comic-episode {
  margin-top: 10px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.comic-episode .serial-number {
  display: flex;
  gap: 30px;
}
.comic-episode .serial-number span {
  font-size: 17px;
}
.comic-episode img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.list-episode-card {
  width: 100%;
  font-size: 18px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.list-episode-card .episode-card {
  background-color: #211c2d;
  padding: 20px;
  border-radius: 10px;
  width: 49.8%;
  margin-bottom: 5px;
}
.list-episode-card .title {
  text-align: center;
  margin-bottom: 10px;
}
.list-episode-card .details {
  display: flex;
  justify-content: space-between;
}
.list-episode-card .details i {
  color: #aa841c;
}

.modal-wrapper .my-modal {
  max-width: 40%;
  min-width: 325px;
}
.modal-wrapper .modal-details {
  max-width: 100%;
  display: flex;
  justify-content: center;
  background: #130e21;
  padding: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1098039216);
  border-radius: 5px;
  flex-wrap: wrap;
  gap: 4px;
  border: 1px solid #251c3d;
}
.modal-wrapper .modal-details .modal-details-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.modal-wrapper .modal-details .modal-details-head .modal-close {
  background: #211c2d;
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.modal-wrapper .modal-details .modal-details-head .modal-close i {
  color: #ffffff;
}
.modal-wrapper .modal-details .modal-details-head .modal-close i:hover {
  color: #be4747;
}
.modal-wrapper .modal-details .modal-details-head span {
  font-size: large;
  font-style: normal;
  font-weight: bold;
  color: #ffffff;
}
.modal-wrapper .modal-details button {
  width: 60px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #211c2d;
  color: white;
}

.search-section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.search-section .search-icon {
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
}
.search-section .search-icon .company-icon {
  display: flex;
  justify-content: center;
  background-color: #211c2d;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}
.search-section .search-icon .company-icon .icon-wrapper {
  background-color: #50457f;
  height: 30px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.search-section .search-icon .company-icon button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(172, 37, 37);
  color: white;
  font-size: 15px;
}
.search-section .search-icon .company-icon img {
  height: 25px;
  width: 25px;
  padding: 2px;
}
.search-section .search-body {
  width: 100%;
  background-color: #211c2d;
  padding: 15px;
  border-radius: 10px;
}
.search-section .search-body .search-choices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.search-section .search-body .search-choices .right-choices {
  display: flex;
  gap: 10px;
  width: 95%;
}
.search-section .search-body .search-choices .right-choices input {
  width: 100%;
  border-radius: 10px;
}
.search-section .search-body .search-choices .right-choices button {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(172, 37, 37);
  color: white;
  font-size: 15px;
}
.search-section .search-body .search-choices .right-choices .button-choices {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: #50457f;
  color: white;
  font-size: 15px;
}
.search-section .search-body .search-choices .right-choices span {
  cursor: pointer;
  color: rgba(236, 199, 96, 0.6588235294);
}

.webtoon-read-section {
  width: 55%;
  height: -moz-fit-content;
  height: fit-content;
}
.comic-controller {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 300;
  display: flex;
  width: 80px;
  height: 300px;
  padding: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.comic-controller button {
  border-radius: 20px;
  height: 50px;
  width: 50px;
  color: #967d38;
  background-color: #211c2d;
}
.comic-controller button i {
  font-size: 25px;
  color: #967d38;
}

.comic-controller-2 {
  position: fixed;
  bottom: 0;
  background-color: #211c2d;
  right: 25%;
  z-index: 300;
  display: flex;
  width: 50%;
  height: 40px;
  padding: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}
.comic-controller-2 span {
  cursor: pointer;
}

.card-icon {
  display: flex;
  position: absolute;
  padding: 3px;
  background-color: #130e21;
  border-radius: 5px;
}
.card-icon img {
  width: 20px;
  height: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 300;
  display: flex;
  width: 100%;
  background-image: linear-gradient(360deg, #141235, #2e226b);
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .container .nav-bar {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px;
}
header .container .nav-bar .logo-wrapper {
  height: 100%;
  width: 286px;
}
header .container .nav-bar .logo-wrapper img {
  width: 100%;
}
header .container .nav-bar nav {
  width: 100%;
}
header .container .nav-bar nav a {
  padding: 20px;
  width: 50px;
  white-space: nowrap;
}
header .container .input-icons {
  position: relative;
}
header .container .input-icons i {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  color: rgb(255, 255, 255);
  padding: 12px;
  color: rgb(255, 255, 255);
  min-width: 50px;
  text-align: center;
  justify-content: end;
  right: 0;
}
header .container .input-icons .switch-mode {
  display: flex;
  position: relative;
  padding: 5px;
  max-height: 30px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
header .container .input-icons .switch-mode i {
  font-size: small;
  position: relative;
  margin-left: -13px;
}
header .container .input-icons .switch-mode span {
  font-size: 12px;
}
header .container .input-icons .switch-mode .dark-mode {
  cursor: pointer;
}
header .container .input-icons .switch-mode .light-mode {
  cursor: pointer;
}
header .container .input-icons input {
  padding-right: 45px;
}

footer {
  height: 150px;
  background-color: rgb(16, 16, 16);
}

section {
  margin-top: -40px;
}
section.hero {
  margin-top: 85px;
}
section.hero .carousel-inner {
  height: -moz-fit-content;
  height: fit-content;
}
section.hero .carousel-inner .carousel-item {
  background-color: white;
  max-height: 100%;
}
section.hero .carousel-inner .carousel-item img {
  max-height: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}
section.content-section {
  padding: 50px 0;
  min-height: calc(100vh - 486px);
}

@media (max-width: 1314px) {
  .webtoon-ads {
    width: calc(33.3333333333% - 4px);
    max-width: unset;
  }
}
@media (max-width: 500px) {
  .webtoon-ads {
    width: calc(50% - 3px);
  }
}
@media (max-width: 1199px) {
  .comic-details .comic-details .comic-footer button {
    max-width: 49%;
  }
}
@media (max-width: 991px) {
  .comic-details {
    display: contents;
  }
  .comic-details .comic-picture {
    max-width: unset;
  }
  .comic-details .comic-details {
    width: unset;
  }
}
@media (max-width: 767px) {
  .list-episode-card .episode-card .title {
    font-size: 12px;
  }
  .list-episode-card .episode-card .details {
    font-size: 12px;
  }
}
@media (max-width: 536px) {
  .list-episode-card .episode-card .title {
    font-size: 12px;
  }
  .list-episode-card .episode-card .details {
    font-size: 12px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .comic-details .comic-details button {
    font-size: 14px;
  }
}
@media (max-width: 382px) {
  .comic-details .comic-details .comic-footer2 {
    flex-direction: column;
  }
  .comic-details .comic-details .comic-footer2 .genre-details {
    margin-bottom: 4px;
  }
  .comic-details .comic-details .comic-footer2 .genre-rating {
    text-align: unset;
    margin-bottom: 5px;
  }
  .comic-details .comic-details button {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */